body {
    height: 100%;
    width: 100%;
}

#layer1 {
    position: relative;
    z-index: 90;
    opacity: 0;
    top: 2rem;
}
#layer1 > * {
    position: absolute;
}

#sol-prep {
    position: relative;
    width: 50%;
    top: 1rem;
    left: 2rem;
}

#sol-prep > * {
    position: absolute;
}

#sample {
    height: 13rem;
    width: 6rem;  
    top: 0rem;
    left: 0rem;
    cursor: pointer;
}

#sample-heading {
    font-size: 2.5rem;
    left: 0rem;
    top: 14rem;
}

#solvent {
    height: 13rem;
    width: 6rem; 
    top: 0rem;
    left: 13rem;
    cursor: pointer;
}

#solvent-heading {
    font-size: 2.5rem;
    left: 12.5rem;
    top: 14rem;
}

#sample-collect {
    position: relative;
    top: 20rem;
    left: 5rem;
}
#sample-collect > * {
    position: absolute;
}

#empty-bottle {
    height: 13rem;
    width: 6rem; 
    top: 3rem;
    left: 0rem;
    opacity: 0.5;
    cursor: pointer;
}

#bottle-heading {
    font-size: 2.5rem;
    left: 0rem;
    top: 17rem;
}

#solution1 {
    top: 13.4rem;
    width: 5.7rem;
    left: 0.1rem;
    height: 2rem;
    background-color: rgb(251, 255, 38);
    opacity: 0;
    cursor: pointer;
}

#solution2 {
    top: 9.4rem;
    width: 5.7rem;
    left: 0.1rem;
    height: 4rem;
    background-color: rgb(251, 255, 38);
    opacity: 0;
    cursor: pointer;
}

#collected-sol1 {
    position: relative;
}
#collected-sol1 > * {
    position: absolute;
}

#dropper1 {
    height: 10rem;
    top: 0rem;
    left: 1.5rem;
    opacity: 0;
}

#sol1 {
    top: 3.2rem;
    left: 2.4rem;
    height: 5rem;
    width: 1.0rem;
    background-color: yellow;
    opacity: 0;
}

#collected-sol2 {
    position: relative;
}
#collected-sol2 > * {
    position: absolute;
}

#dropper2 {
    height: 10rem;
    top: 26rem;
    left: 9rem;
    transform: rotate(125deg);
    z-index: 1;
    opacity: 0;  
}

#sol2 {
    top: 28rem;
    left: 9.5rem;
    height: 5rem;
    width: 1.0rem;
    background-color: yellow;
    opacity: 0;
    z-index: 1;
    transform: rotate(125deg);
}

#slide-prep {
    position: relative;
    top: 42rem;
    left: 2rem;
}

#slide-prep > * {
    position: absolute;
}

#desiccator {
    height: 15rem;
    top: 0rem;
    left: 0rem;
    cursor: pointer;
}

#desiccator-heading {
    font-size: 2.5rem;
    left: 4rem;
    top: 16rem;
}

#jr-cell {
    height:15rem;
    width: 10rem;
    top: 20rem;
    left: 0rem;
    opacity: 0;
    cursor: pointer;
}

#jr-cell-heading {
    font-size: 2.5rem;
    left: 4rem;
    top: 36rem;
    opacity: 0;
}

#slit {
    height: 3.4rem;
    width: 2.8rem;
    top: 27rem;
    left: 4.8rem;
    opacity: 0;
    background-color: yellow;
    transform: skew(0deg,-25deg);
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    #sol-prep {
        left: 10rem;
    }
    #slide-prep {
        left: 10rem;
    }   
}
@media screen and (min-width: 780px) {
    #slide-prep {
        display: inline;
        top: 5rem;
        left: 30rem;
    }
    #sol-prep {
        left: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    #slide-prep {
        display: inline;
        top: 2rem;
        left: 40rem;
    }
    #sol-prep {
        left: 5rem;
    }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    #sol-prep {
        left: 2rem;
    }
    #slide-prep {
        top: 25rem;
        left: 0rem;
    }
    #sample-collect {
        top: 10rem;
    }
    #sample {
        height: 7.5rem;
        width: 3rem;  
    }
    #sample-heading {
        font-size: 1.3rem;
        left: 0rem;
        top: 8rem;
    } 
    #solvent {
        height: 7.5rem;
        width: 3rem; 
        left: 7rem;
    } 
    #solvent-heading {
        font-size: 1.3rem;
        left: 7rem;
        top: 8rem;
    } 
    #empty-bottle {
        height: 7.5rem;
        width: 3rem; 
        top: 3rem;
        left: 0rem;
    }
    #bottle-heading {
        font-size: 1.3rem;
        left: 0rem;
        top: 11rem;
    } 
    #solution1 {
        top: 8.2rem;
        left: 0.1rem;
        height: 2rem;
        width: 2.6rem;
    }
    #solution2 {
        top: 6.2rem;
        left: 0.1rem;
        height: 4rem;
        width: 2.6rem;
    }    
    #desiccator {
        height: 10rem;
        top: 0rem;
        left: 0rem;
    }
    #desiccator-heading {
        font-size: 1.3rem;
        left: 3rem;
        top: 11rem;
    } 
    #jr-cell {
        height:7.5rem;
        width: 5rem;
        top: 15rem;
        left: 2rem;
    }
    #jr-cell-heading {
        font-size: 1.3rem;
        left: 3rem;
        top: 23rem;
    } 
    #dropper1 {
        height: 5rem;
        top: 1.3rem;
        left: 0.8rem;
    }
    #sol1 {
        top: 2.8rem;
        left: 1.2rem;
        height: 2.5rem;
        width: 0.5rem;
    }
    #dropper2 {
        height: 5rem;
        top: 19rem;
        left: 6rem; 
    }
    #slit {
        height: 1.5rem;
        width: 1.5rem;
        top: 18.5rem;
        left: 4.5rem;
    }
    #sol2 {
        top: 20rem;
        left: 6.25rem;
        height: 2.7rem;
        width: 0.5rem;
    }
}